/* KOD 13 – styl wrappera i slidera (mobile) */
.palette-scroll-wrapper{
  position:relative;
  padding-right:32px; /* odstęp na slider */
}

.palette-vertical-slider{
  position:absolute;
  right:4px;
  top:0;
  width:24px;
  height:100%;
  -webkit-appearance: slider-vertical;
  appearance: slider-vertical;
  z-index:100;
}

@media (min-width:1024px){
  .palette-vertical-slider{display:none;}
}