.configurator {
  background: var(--box);
  border-radius: 8px;
  box-shadow: 0 8px 24px #0008;
  display: flex; flex-wrap: wrap;
  gap: 24px;
  max-width: 1200px;
  width: 100%;
  padding: 24px;
}

.gun-wrap { flex: 2 1 600px; display: flex; flex-direction: column; gap: 10px; }
.controls { flex: 1 1 300px; }
